.bloque
{
    margin: auto;
    width: 95%;
    height: 1500px;
    background-color: gray;
    border: 1px solid black;
}

.barra
{
    margin: auto;
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.items
{
    text-align: center;
    padding: 5px;
    width: 155px;
    height: 20%;
    background-color: black;
    color:white;
    margin:1cm;

}

.contenido
{
    margin: auto;
    text-align: center;
    font-size: medium;
    padding: 30px;      
    margin-top: 50px;
    width: 80%;
    height: 500px;
    background-color:whitesmoke;
   
    color: black;
}

.contenido input
{
    margin-top: 3%;

    width: 900px;
    height: 20%;

}

.videoimagen
{
    margin: auto;
    text-align: center;
    font-size: medium;
    padding: 30px;      
    margin-top: 50px;
    width: 80%;
    height: 200px;
    background-color:whitesmoke;
   
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.icon{

    text-align: center;
    padding: 5px;
    width: 155px;
    height: 20%;
    background-color: black;
    color:white;
    margin:1cm;
}

.boton
{   margin: auto;
    text-align: center;
    font-size: medium;
    padding: 30px;      
    margin-top: 10px;
    width: 10%;
    height: 50px;
   



}


