.bloque{
    margin: auto;
    width: 95%;
    height: 1500px;
    background-color: gray;
    border: 1px solid black;
}
.Barra{

    margin: auto;
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.item
{

    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 155px;
    height: 20%;
    background-color: black;
    color:white;
    margin:1cm;
}

.imagen
{ 
 
    text-align: center;
    font-size: medium;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    width: 20%;
    height: 200px;
    background-color: black;
   
    color: white;
}

.datos
{
    text-align: center;
    font-size: medium;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 400px;
    background-color: black;
   
    color: white;
    
}

input
{
    margin-top: 10px;
    width: 90%;
    height: 20%;

}

.pie{

    margin: auto;
    margin-top: -6%;
    width: 95%;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon{
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 155px;
    height: 20%;
    background-color: black;
    color:white;
    margin:1cm;

}
