div.base
{
    margin: auto;
    width: 600px;
    height: 500px;
    border: 1px solid black;
   background-color:gray;

}
div.base h1
{
    text-align: center;
    font-size: x-large;
     font-family:'Times New Roman', Times, serif;

}
div.registro
{
    margin: auto;
    width: 400px;
    height: 350px;
    background-color:white;

}

.logo
{
    display:block;
    margin: auto;
    max-width: 70px;

}

div.registro input
{
    margin-left: 120px;
    margin-top: 2px;

}
.perfil
{
    display: block;
    margin:auto;
    max-width: 70px;
margin-top:40px;

}

div.registro p
{
    font-size: small;
    margin-top: 43px;
}

div.pie
{
    margin:auto;
    width: 400px;
    height: 55px;
background-color: white;
}
div.pie p{
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: medium;
}
div.pie img
{
    display: block;
    margin: auto;
    max-width: 40px;
   margin-top: -20px;

}






