div.base{
    margin: auto;
    width: 960px;
    height: 700px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;

}

div.inicio
{
    margin: auto;
    width: 700px;
    height: 650px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.imaglog
{
    display: block;
    margin:auto;
    max-width:30%

}

div.inicio input
{
    margin-top: 2px;
    margin-left: 150px;
    width: 400px;
    height: 60px;

}

div.recordar
{
margin:auto;
width: 100px;
height: 50px;
margin-top: -240px;
margin-right: 7cm;


}

a
{    
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 10px;

    

}

div.boton
{
    padding: 5px;
    margin-left: 280px;
    margin-top: -45px;
    margin:center;
    width: 100px;
    height: 40px;
    


}

